// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dev-block {
	margin-top:10px;	
}

.dev-img {
	width:200px;
	height:200px
}

.account-parent-block {
	padding:20px 10px 20px 10px;
}

.account-child-block {
	padding: 10px;
	.account-opt {
		margin-top:10px;
	}
}

.create-project-block {
	padding: 20px;
}

.task-block {
	border:1px solid #CCC;
	padding:10px;
	height:400px;
	overflow: auto;
	p.lead {
		text-align:center;
	}
}

.each-task-block {
	margin-top:5px;
	padding:5px;
	border:1px solid #333;
}

@import 'bootstrap';
@import 'bootstrap-responsive';